SOURCE_CODE_URL=https://github.com/workpiece-gr/open-resin-slicer-service
WORKPIECE_RESIN_PROJECT_API_TOKEN=
MAX_UPLOAD_BYTES=31457280
SLICE_TIMEOUT_SECONDS=240
UVTOOLS_TIMEOUT_SECONDS=120
MAX_CONCURRENT_SLICES=1
MAX_CONCURRENT_PROXY_JOBS=1
RESOURCE_CAPACITY_WAIT_SECONDS=0.25
PRUSA_SLICER_BIN=/opt/prusaslicer/prusa-slicer
UVTOOLS_CMD=/opt/uvtools/UVtoolsCmd
PROFILE_ROOT=/app/profiles
